@model IEnumerable<miniphone.Models.TreeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.branches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nodes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leaves)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.branches)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nodes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leaves)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
